/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.idea/
/.settings/
/microservice-consumer-movie/.mvn/
/microservice-consumer-movie/.idea/
/microservice-discovery-eureka/.settings/
/microservice-discovery-eureka/.idea/
/microservice-provider-user/.idea/
/microservice-provider-user/target/
/microservice-provider-user/.mvn/
